################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dk2/bin/Debug/rtf/dk-2022-10-27-20-39-12-0050.rtf
/dk2/bin/Debug/rtf/2022@10@27-20@57@11-default_empty_stuid.rtf
/dk2/bin/Debug/rtf/2022@10@27-20@46@09-0050.rtf
/.vs/
